<!-- Page Title -->
<div class="page-title dark-background">
  <div class="container position-relative">
    <h1>About</h1>
    <p>ANJEKA Hospitality Management, Training, Research, and Consultancy, founded in Kenya by Antoneta Njeri Kariru, is
      a premier firm specializing in Hospitality Support Services. With expertise in Hospitality Management, Training,
      Research, and Consultancy, the firm excels in managing hotels, restaurants, and bars, supported by a team of
      skilled consultants and trainers. ANJEKA also conducts market, organizational, and business research for
      hospitality facilities, offering tailored consulting services for hotels, restaurants, and bars. We warmly welcome
      you to experience our exceptional services.</p>
  </div>
</div><!-- End Page Title -->
