<!-- About Section -->
<section id="about" class="about section light-background">

  <div class="container">

    <div class="row gy-4">
      <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
        <img ngSrc="assets/img/about.jpg" class="img-fluid" alt="About Us" height="768" width="1024">
        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
      </div>
      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
        <h3>We Are The Leading Experts in Hospitality Management and Services</h3>
        <p class="fst-italic">
          We are dedicated to transforming the hospitality industry by offering expert management, training, research, and consultancy services.
        </p>
        <ul>
          <li><i class="bi bi-house-door"></i> <span>Efficient and effective hospitality management for streamlined operations and guest satisfaction.</span></li>
          <li><i class="bi bi-person-workspace"></i> <span>Comprehensive hospitality training to empower professionals with essential skills.</span></li>
          <li><i class="bi bi-bar-chart"></i> <span>In-depth hospitality research to drive innovation and shape industry trends.</span></li>
          <li><i class="bi bi-gear"></i> <span>Strategic consultancy services to optimize performance and achieve business goals.</span></li>
        </ul>
        <p>
          Our mission is to deliver excellence and innovation in every aspect of hospitality, helping businesses and professionals thrive in a competitive industry.
        </p>
      </div>
    </div>

  </div>

</section><!-- /About Section -->
